<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>

        <h1>구름톤 쿠버네티스과정 14회차:김성인</h1>
        <div class="card" style="width: 18rem;">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzA3MTBfMjM1/MDAxNDk5NjUyMDQ4OTky.rY0tENCUu7nNctJPv8aZ3UzdH1lmFNEtnyeVuIUWlQAg.64IkdnkTx38Kxf9O1GME-aNkjGuK_7jeg_CvIw0unLgg.PNG.kma_131/%EF%BC%91.png?type=w800" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Docker 실습과제</h5>
                <p class="card-text">
                    GitHub, Travis CI, AWS S3, CodeDeploy, Docker를 통하여 이미지 파일 빌드 및 컴포넌트 실행까지 완료하였습니다.
                </p>
                <a href="https://velog.io/@99_insung/Travis-CI-Docker-S3-CodeDeploy-nginx-springboot-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%BB%A8%ED%85%8C%EC%9D%B4%EB%84%88%EB%A5%BC-EC2-%ED%99%98%EA%B2%BD%EC%97%90%EC%84%9C-%EC%8B%A4%ED%96%89%ED%95%98%EA%B8%B0" class="btn btn-primary">공부 기록</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
</html>